<!-- employees/partials/employee_invite.html -->
<div class="invite-box">
    <p>{{ employee.first_name }} {{ employee.last_name }} was added.</p>
    <p>Share this link with them to set their password:</p>
    <p><code>{{ invite_link }}</code></p>
    <button
      type="button"
      onclick="navigator.clipboard.writeText('{{ invite_link }}')"
    >
      Copy link
    </button>
    <a href="{% url 'employee_add' %}" hx-get="{% url 'employee_add' %}" hx-target="this" hx-swap="outerHTML">
      Add another employee
    </a>
  </div>