{% extends "layouts/app_shell.html" %}

{% block title %}Add Schedule Assignment{% endblock %}

{% block page_content %}
{% include "partials/tabs_schedule.html#tabs_schedule" %}

<div class="card" style="max-width:720px;">
  <div class="card__header">
    <span class="card__title">Add assignment</span>
  </div>
  <div class="card__body">
    {% partialdef assignment_form inline %}
<div id="assignment-form-container">
{% if success_message %}
<div id="form-messages" class="message success">
    {{ success_message }}
    <a href="{% url 'assignment_list' %}">View all assignments</a>
</div>
{% else %}
<div id="form-messages"></div>
{% endif %}

<form class="tt-form-shell"
    id="assignment-form"
    hx-post="{% url 'assignment_add' %}"
    hx-target="#assignment-form-container"
    hx-swap="outerHTML"
>
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="message error">{{ form.non_field_errors }}</div>
    {% endif %}

    {% include "schedule/partials/assignment_fields.html" %}

    <div class="form-actions">
        <button class="btn btn--primary" type="submit">Add Assignment</button>
    </div>
</form>
</div>
{% endpartialdef assignment_form %}
  </div>
</div>
{% endblock %}
